*{
  margin:0;
  padding:0;
}

.box {
  width: 420px;
  height: 200px;
  background: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

@keyframes animeCard {
  0% {
    width: 60px;
    height: 120px;
    opacity: 0;
    background: #f3f3f3;
  }
  100% {
    width: 480px;
    height: 120px;
    opacity: 1;
    background: #f3f3f3;
  }
}

h2 {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 20px;
  padding: 10px;
}

h2 mat-icon {
  margin-right: 5px;
}

mat-dialog-content {
  padding: 10px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

button {
  margin-left: 10px;
}
