@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
$text-color: #7d84ab;
$secondary-text-color: #dee2ec;
$bg-color: #0c1e35;
$sidebar-header-height: 100px;
$sidebar-footer-height: 230px;


.active {
  background-color: #dee2ec;
}
.active1{
  color: white !important;
  background-color: #dee2ec;
}
.active2 {
  color: $bg-color !important;
  background-color: #dee2ec;

}
.text-expansion{
  display: block;
  margin-left: 9px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: $text-color;
}
.navlistMenu {
  border: 0px;
  background: transparent;
}


.navlist-icon {
  cursor: pointer;
  color: rgba(132, 159, 164, 0.98);
}

.listitemCustom {
  color: white;
  left: -10px!important;
  width: 100px!important;
}

.layout {
  z-index: 1;
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .content {
    padding: 12px 50px;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;

  }

  .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
}


.sidebar {
  color: $text-color;
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;

  .sidebar-layout {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $bg-color;
    z-index: 2;
    .sidebar-header {
      height: $sidebar-header-height;
      min-height: $sidebar-header-height;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    .sidebar-content {
      flex-grow: 1;
      padding: 10px 0;

    }
  }
}





.layout {
  .sidebar {
    .pro-sidebar-logo {
      display: flex;

      > div {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
        font-size: 24px;
        font-weight: 700;
        background-color: #ff8100;
        margin-right: 10px;
      }

      > h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px;
        line-height: 30px;
        transition: opacity 0.3s;
        opacity: 1;
      }
    }
  }
}

.mat-expansion-panel {
  background-color: transparent;
  color: $secondary-text-color;
}
.mat-expansion-panel-header{
  font-family: "Inter", sans-serif;
  color: $text-color;
  font-size: 17px;
}
