.user-details-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button {
  color: red;
}

.save-button {
  color: white;
}
