$background: #243763;
$background-nav-top: white;
$nav-panel-hover: #38495F;
$nav-panel-active: darken(#38495F, 2%);
.circle {
  border-radius: 50%;
  height: 30px;
  text-align: center;
  width: 30px;
  filter: grayscale(80%);
}

.initials {
  font-size:5px; // 50% of parent
  font-family: Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT';
  line-height: 1;
  position: relative;
  top: 1%; // 25% of parent
  color: white;
}

.navigation-top-bar {
  background: $background-nav-top;
  width: 100%;
  height: 55px;
  line-height: 75px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 8px 10px -7px;

  .toggler {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 50px;
    text-align: center;
    cursor: pointer;

  }
  .example-spacer {
    flex: 1 1 auto;
  }
}

.profil-button {
  border-color: transparent;
  background-color: transparent;
}


.nav-item {
  position: relative;
  display: block;
}

.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-item b:nth-child(1) {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: rgb(73, 57, 113);
}

.nav-item b:nth-child(2) {
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: rgb(73, 57, 113);
}

.nav-item.active b:nth-child(1),
.nav-item.active b:nth-child(2) {
  display: block;
}
.username {
  font-size: 1rem;
  color: #0c0a0a;
  margin-left: 10px;
  text-transform: uppercase;
}

.nav-item.active a {
  text-decoration: none;
  color: #000;
  background: rgb(254, 254, 254);
}

.nav-icon {
  width: 60px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}
.icon-container {
  display: flex;
  gap: 15px;
}
.nav-text {
  display: block;
  width: 120px;
  height: 20px;
}
.right-content {
  display: grid;
  grid-template-rows: 5% 20% 75%;
  background: #f6f7fb;
  margin: 15px 15px 15px 0;
  padding: 10px 0;
  border-radius: 15px;
}